{% extends 'base_layout.html' %}

<!--
    template tags are a django feature that allows us to insert python
    logic into our html file - this allows us to output data

    the next step (after styling a template) is to create a base template
    s.t. if you wish to change the style of your header, it does not have
    to be done for all templates (we are modularizing)
-->

{% block content %}
    <h1>Article list</h1>
    <br>
    <div class="articles">
        {% for article in articles %}
            <div class="article">
                <!-- 
                    'detail' alone does not work here! 'detail' is looking for 
                    the slug that we have in our re_path() function, so we need
                    to pass it in. Therefore, we can pass through the name capturing
                    group (the thing b/w <> in our re_path()) parameter by saying:
                                parameter = parameter_value
                -->
                <h2><a href="{% url 'articles:detail' slug=article.slug %}">{{ article.title }}</a></h2>
                <p>{{ article.snippet }}</p>
                <p>{{ article.date }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}