{% extends 'base_layout.html' %}

<!--
    template tags are a django feature that allows us to insert python
    logic into our html file - this allows us to output data

    the next step (after styling a template) is to create a base template
    s.t. if you wish to change the style of your header, it does not have
    to be done for all templates (we are modularizing)
-->

{% block content %}
    <h1>Article list</h1>
    <div class="articles">
        {% for article in articles %}
            <div class="article">
                <h2><a href="#">{{ article.title }}</a></h2>
                <p>{{ article.snippet }}</p>
                <p>{{ article.date }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}